*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilo do corpo da página */
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    color: #333; /* Cor do texto */
    background-color: #fff; /* Cor de fundo da página */
    min-height: 100vh;
}

/* Estilo do cabeçalho */
header {
    background: #DAB8FF; /* Cor lilás para o cabeçalho */
    color: #fff; /* Cor do texto clara */
    padding: 10px 0; /* Espaçamento interno */
}

.header-container {
    display: flex; /* Alinhamento horizontal dos itens */
    align-items: center; /* Alinhamento vertical */
    justify-content: space-between; /* Espaça logo e menu */
    max-width: 1200px; /* Largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente o conteúdo dentro da largura máxima */
    padding: 0 20px; /* Espaçamento interno lateral */
}

.logo {
    max-height: 150px; /* Altura máxima do logo */
    margin-right: auto; /* Garante que a logo fique mais à esquerda no contêiner flexível*/ 
}

nav {
    display: flex; /* Exibe o menu de navegação horizontalmente */
}

nav ul {
    list-style: none; /* Remove marcadores da lista */
    display: flex; /* Exibe itens horizontalmente */
}

nav ul li {
    margin-left: 20px; /* Espaçamento entre itens do menu */
}

nav ul li a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 20px; /* Tamanho da fonte */
    transition: color 0.3s; /* Transição suave para cor do texto */
}

nav ul li a:hover {
    color: #7802c7; /* Cor do texto ao passar o mouse */
}

/* Seção Introdução Pessoal */
.intro {
    padding: 40px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza a imagem e o título */
}

.intro img {
    width: 200px; /* Ajuste a largura da imagem */
    border-radius: 50%; /* Torna a imagem circular */
    margin-bottom: 20px; /* Espaçamento abaixo da imagem */
}

.intro h2 {
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    font-size: 2.5em; /* Aumenta o tamanho da fonte do título */
    font-weight: 700; /* Peso da fonte para o título */
    color: #DAB8FF; /* Cor lilás para o título */
}

.intro p {
    text-align: justify; /* Justifica o texto */
    margin: 0 auto; /* Centraliza o bloco de texto, se necessário */
    max-width: 800px; /* Define uma largura máxima para a legibilidade */
    font-size: 1.2em; /* Aumenta o tamanho da fonte dos parágrafos */
    line-height: 1.8; /* Ajusta a altura da linha para melhorar a legibilidade */
}



/* Seção de Habilidades */
.skills {
    padding: 10px 20px; /* Espaçamento interno */
}

.skills h2 {
    font-size: 2.5em; /* Tamanho da fonte do título */
    font-weight: 700; /* Peso da fonte para o título */
    color: #DAB8FF; /* Cor lilás para o título */
}

.skills ul {
    list-style: none; /* Remove marcadores da lista */
}

.skills li {
    margin: 10px 0; /* Espaçamento entre itens da lista */
    font-size: 1.2em; /* Tamanho da fonte */
    display: flex; /* Exibe a lista como flexível */
    align-items: center; /* Alinha itens verticalmente */
}

.progress-bar {
    display: inline-block;
    width: 200px; /* Ajustado para dar mais espaço */
    height: 20px;
    background-color: #e0e0e0; /* Cor de fundo da barra de progresso */
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
    vertical-align: middle;
}

.progress {
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.html .progress {
    width: 100%; /* Máximo nível */
    background-color: #9B59B6; /* Roxo médio */
}

.css .progress {
    width: 50%; /* Nível mediano */
    background-color: #8E44AD; /* Roxo escuro */
}

.js .progress {
    width: 10%; /* Nível básico (ou nenhum conhecimento) */
    background-color: #6C3483; /* Roxo mais escuro */
}

.teamwork .progress {
    width: 100%; /* Máximo nível */
    background-color: #A569BD; /* Roxo claro */
}

.project-management .progress {
    width: 100%; /* Máximo nível */
    background-color: #D2B4DE; /* Roxo muito claro */
}

/* Seção Linha do Tempo */
.timeline {
    padding: 40px 20px; /* Espaçamento interno */
}

.timeline h2 {
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    font-size: 2.5em; /* Tamanho da fonte do título */
    font-weight: 700; /* Peso da fonte para o título */
    color: #DAB8FF; /* Cor lilás para o título */
}

.timeline-item {
    margin-bottom: 20px; /* Espaçamento entre itens */
    padding: 10px;
    border-left: 4px solid #DAB8FF; /* Linha vertical lilás */
    position: relative;
}

.timeline-item h3 {
    margin-bottom: 5px; /* Espaçamento abaixo do subtítulo */
    font-size: 1.5em; /* Tamanho da fonte do subtítulo */
    font-weight: 700; /* Peso da fonte para o subtítulo */
    color: #9B59B6; /* Cor lilás para o subtítulo */
}

.timeline-item p {
    font-size: 1.2em; /* Tamanho da fonte do parágrafo */
    color: #333; /* Cor do texto */
}

/* Rodapé */
footer {
    background: #DAB8FF; /* Cor lilás para o rodapé */
    color: #fff; /* Cor do texto clara */
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Espaçamento interno */
    margin-top: 20px; /* Espaçamento acima do rodapé */
}

/* Estilo para h1 */
/* Estilo para h1 */
h1 {
    text-align: center;
    margin-top: 40px; /* Adiciona espaço acima do título */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    font-size: 2.5em; /* Tamanho da fonte do título */
    color: #9B59B6; /* Cor roxa para o título */
}
